:root{
    --cor-1: #e23e57;
    --cor-2: #ffffff;
    --cor-3: #e96a7e;
    --cor-4: #ce1f3a;
    --cor-5: #e6e6e6;
    --cor-6: #ef97a4;
  }


.footer{
    background-color: var(--cor-1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 74px;
}

.img-footer{
    color: #e6e6e6;
    font-size: 32px;
    margin-left: 20px;
}
.img-footer:hover{
    cursor: pointer;
    transition: 0.1s;
    transform: scale(1.1);
}