:root{
    --cor-1: #e23e57;
    --cor-2: #ffffff;
    --cor-3: #e96a7e;
    --cor-4: #ce1f3a;
    --cor-5: #e6e6e6;
    --cor-6: #ef97a4;
  }




button:hover{
    cursor: pointer;

  }
  
  .botao-nav {
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
    font-size: 17px;
    padding: 8px 16px; /* Ajuste o padding para um visual mais próximo */
    border: none;
    border-radius: 20px; /* Curvatura maior para o efeito de pílula */
    color: var(--cor-4); /* Texto branco */
    background-color: var(--cor-5); /* Cinza escuro para o fundo */
    display: flex; /* Para alinhar o ícone e o texto */
    align-items: center; /* Centralizar verticalmente */
  }
  


  

.botao-nav:active{
    transition: 0.05s;
    transform: scale(1.02);
} 

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
