:root{
    --cor-1: #e23e57;
    --cor-2: #ffffff;
    --cor-3: #e96a7e;
    --cor-4: #ce1f3a;
    --cor-5: #e6e6e6;
    --cor-6: #ef97a4;
  }




button:hover{
    cursor: pointer;

  }
  
  .botao-nav{
    font-family: 'Roboto', sans-serif; /* Substitua pela fonte que preferir */
    font-weight: 550;
    /* font-size: 12px; */
    /* text-transform: uppercase; */

    font-size: medium;
    padding: 6px;
    border: none;
    border-radius: 10px;
    color: var(--cor-1);
    /* border-width: 2px; */
    /* background-color: var(--cor-3); */
    /* height: 30px;
    width: 80px; */


 
  }


  

.botao-nav:active{
    transition: 0.05s;
    transform: scale(1.02);
} 

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
